.tryon-canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.video-input {
  display: none;
}

.output-canvas {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
